# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.pnpm/

# testing
/coverage

# next.js
.next
/out/

# Analyze Bundle
**/analyze/nodejs.html

# Turbo
.turbo
.cache
.output

# production
/build
dist
dist-ssr
server/dist
public/dist
*.tgz

# misc
.DS_Store
*.pem
.idea/

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
next-env.d.ts

# Panda
styled-system

# Storybook
storybook-static/

# Sitemap
sitemap*.xml

# Env
.env
.env.development
.env.production
.env.local
.env.*.local
*.local

# Apps Generated Content
*.db
**/public/search.json